.main-div{
  text-align: center;
  background-color: lightgrey;
}
.form-body{
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
.form-body>div{
  width: 48%;
}
.sub-form{
  text-align: center;
}
.name-input{
  display: flex;
  justify-content: space-between;
}
.name-input>div{
  width:48%
}
.checkboxes-div{
  text-align: left;
}
.date-div>div{
  width:48%;
}
.half-input-width{
  width:100px;
  border: 1px solid red;
}
h3{
  color:blue
}
button{
  width:150px;
  height: 40px;;
}
